# SPDX-License-Identifier: GPL-2.0-only
menu "IOMATRIX support"

config RTS490XA_HUB
	tristate "RTS490XA HUB support"
	depends on I2C
	select REGMAP_I2C
	help
	  This enables support for RTS490XA HUB. Say Y here to use RTS490XA HUB driver to
	  configure RTS490XA HUB device.

config MFD_RTS591X_I2C
	tristate "Realtek RTS591x MFD over I2C"
	depends on I2C
	select MFD_CORE
	select REGMAP_IOMATRIX
	select REGMAP_IRQ
	help
	  If you say Y here you get support for RTS591x IC.
	  This driver include only the core APIs. You have to select individual
	  components like PWM or GPIO under the corresponding menus.

endmenu
