#include "rts4930a.dtsi"

/ {
	model = "RTS493xA EVB";
	compatible = "realtek,rts493xa-evb","realtek,rts493xa";

	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS1,57600 init=/sbin/init earlyprintk rootfstype=squashfs user_debug=31";
		stdout-path = &uart1;
	};
};

&spi0 {
	status = "okay";
	spi-transfer-channel = "quad";
	swp_enable;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x00000 0xC0000>; //12*64K for uboot
		};

		partition@c0000 {
			label = "uboot-env";
			reg = <0xC0000 0x40000>; //4*64K for uboot env
		};

		partition@100000 {
			label = "kernel";
			reg = <0x100000 0x440000>; // 34*128K
		};

		partition@540000 {
			label = "rofs";
			reg = <0x540000 0x5B00000>; //728*128K
		};

		partition@6040000 {
			label = "rwfs";
			reg = <0x6040000 0x1FC0000>; //254*128K
		};
	};
};

&leds {
	ledbmc: identify {
		gpios = <&pinctrl 26 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	rts493xa-mfd@30 {
		compatible = "realtek,rts591x-mfd-i2c";
		reg = <0x30>;

		mfd-gpios = <&pinctrl 60 GPIO_ACTIVE_LOW>;

		peci {
			compatible = "realtek,rts591x-peci";
			reg = <0x400a0000>;
			status = "okay";
		};

		gpio {
			compatible = "realtek,rts591x-gpio";
			reg = <0x40090000>;
			status = "okay";
		};

		rts591x-i2c0 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x4000d000>;
			id = <0>;
			status = "okay";
		};

		rts591x-i2c1 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x4000d200>;
			id = <1>;
			status = "okay";
		};

		rts591x-i2c3 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x4000d600>;
			id = <3>;
			status = "okay";
		};

		rts591x-i2c4 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x4000d800>;
			id = <4>;
			status = "okay";
		};
	};

	rts490xa-hub@70 {
		compatible = "realtek,rts490xa-hub";
		reg = <0x70>;

		cp0-ldo-en = "enabled";
		cp1-ldo-en = "enabled";
		cp0-ldo-volt = "1.8V";
		cp1-ldo-volt = "1.8V";
		tp0145-ldo-en = "enabled";
		tp2367-ldo-en = "enabled";
		tp0145-ldo-volt = "1.8V";
		tp2367-ldo-volt = "1.8V";
		tp0145-pullup = "500R";
		tp2367-pullup = "500R";
		tp0145-io-strength = "30Ohms";
		tp2367-io-strength = "30Ohms";
		cp0-io-strength = "20Ohms";
		cp1-io-strength = "20Ohms";

		target-port@0 {
			mode = "smbus";
			pullup = "enabled";
			mctp-controller;
			backend@0,0 {
				compatible = "mctp-i2c-controller";
				target-reg = <0x10>;
			};
		};

		target-port@1 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};

		target-port@4 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};

		target-port@5 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};
	};
};

&pinctrl {
	gpio-line-names =
	"", "", "", "", "", "", "", "", // 0~7
	"PGOOD", "",  // 8,9
	"CHASSIS_INTRUSION",                    // 10
	"", "", "", "", "", "", "", "", "", "",  // 11~20
	"", "", "", "", "", "", "", "", "", "",  // 21~30
	"", "", "", "", "", "", "", "", "", "",  // 31~40
	"", "", "", "", "", "", "", "", "", "",  // 41~50
	"", "", "", "", "", "", "", "", "", "",  // 51~60
	"", "", "", "", "", "", "", "", "", "",  // 61~70
	"", "", "", "", "", "", "", "", "", "",  // 71~80
	"", "", "", "", "", "", "", "", "";      // 81~88
};

&i2c1 {
	status = "okay";

	ssif-bmc@10 {
		compatible = "ssif-bmc";
		reg = <0x40000010>;
	};
};
