#include "rts4930a.dtsi"
#include <dt-bindings/interrupt-controller/realtek,rts591x-iomatrix.h>

/ {
	model = "RTS493xA ESCM";
	compatible = "realtek,rts493xa-escm","realtek,rts493xa";

	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS1,57600 init=/sbin/init earlyprintk rootfstype=squashfs user_debug=31";
		stdout-path = &uart1;
	};

	iio-hwmon {
			compatible = "iio-hwmon";
			io-channels = <&rts591x_adc_escm 0>,
					<&rts591x_adc_escm 1>,
					<&rts591x_adc_escm 2>,
					<&rts591x_adc_escm 3>;
					/* Channels should correspond to the adc enabled channels
					<&rts591x_adc_escm 4>,
					<&rts591x_adc_escm 5>,
					<&rts591x_adc_escm 6>,
					<&rts591x_adc_escm 7>;
					*/
	};

	iio-hwmon-hpm {
			compatible = "iio-hwmon";
			io-channels = <&rts591x_adc_hpm 0>,
					<&rts591x_adc_hpm 1>,
					<&rts591x_adc_hpm 2>,
					<&rts591x_adc_hpm 3>;
					/* Channels should correspond to the adc enabled channels
					<&rts591x_adc_hpm 4>,
					<&rts591x_adc_hpm 5>,
					<&rts591x_adc_hpm 6>,
					<&rts591x_adc_hpm 7>;
					*/
	};

	fan1 {
			compatible = "pwm-fan";
			cooling-levels = <0 102 170 230>;
			pwms = <&rts591x_pwm_hpm 0 40960 0>;
			pulses-per-revolution = <2>;
		};

	fan2 {
			compatible = "pwm-fan";
			cooling-levels = <0 102 170 230>;
			pwms = <&rts591x_pwm_hpm 1 40960 0>;
			pulses-per-revolution = <2>;
		};

};

&spi0 {
	status = "okay";
	spi-transfer-channel = "quad";
	swp_enable;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x00000 0x180000>; //24*64K for uboot
		};

		partition@180000 {
			label = "uboot-env";
			reg = <0x180000 0x80000>; //8*64K for uboot env
		};

		partition@200000 {
			label = "kernel";
			reg = <0x200000 0x880000>; // 68*128K
		};

		partition@a80000 {
			label = "rofs";
			reg = <0xa80000 0xb600000>; //1456*128K
		};

		partition@c080000 {
			label = "rwfs";
			reg = <0xc080000 0x3f80000>; //508*128K
		};
	};
};

&leds {
	led_hpm: identify {
		gpios = <&gpio_hpm 0 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	rts493xa-mfd@30 {
		compatible = "realtek,rts591x-mfd-i2c";
		reg = <0x30>;

		mfd-gpios = <&pinctrl 37 GPIO_ACTIVE_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;

		iomatrix-uapi {
			compatible = "realtek,iomatrix-uapi";
		};

		peci {
			compatible = "realtek,rts591x-peci";
			reg = <0x40221900>;
			status = "okay";
		};

		rts591x-peci-oob {
			compatible = "realtek,rts591x-peci-oob";
			status = "okay";
		};

		gpio_scm: gpio {
			compatible = "realtek,rts591x-gpio";
			reg = <0x40230000>;
			#gpio-cells = <2>;

			gpio-line-names =
			"ESCM_GPIO000", "ESCM_GPIO001", "ESCM_GPIO002", "ESCM_GPIO003",
			"ESCM_GPIO004", "ESCM_GPIO005", "ESCM_GPIO006", "ESCM_GPIO007",
			"ESCM_GPIO008", "ESCM_GPIO009", "ESCM_GPIO010", "ESCM_GPIO011",
			"ESCM_GPIO012", "ESCM_GPIO013", "ESCM_GPIO014", "ESCM_GPIO015",
			"ESCM_GPIO016", "ESCM_GPIO017", "ESCM_GPIO018", "ESCM_GPIO019",
			"ESCM_GPIO020", "ESCM_GPIO021", "ESCM_GPIO022", "ESCM_GPIO023",
			"ESCM_GPIO024", "ESCM_GPIO025", "ESCM_GPIO026", "ESCM_GPIO027",
			"ESCM_GPIO028", "ESCM_GPIO029", "ESCM_GPIO030", "ESCM_GPIO031",
			"ESCM_GPIO032", "ESCM_GPIO033", "ESCM_GPIO034", "ESCM_GPIO035",
			"ESCM_GPIO036", "ESCM_GPIO037", "ESCM_GPIO038", "ESCM_GPIO039",
			"ESCM_GPIO040", "ESCM_GPIO041", "ESCM_GPIO042", "ESCM_GPIO043",
			"ESCM_GPIO044", "ESCM_GPIO045", "ESCM_GPIO046", "ESCM_GPIO047",
			"ESCM_GPIO048", "ESCM_GPIO049", "ESCM_GPIO050", "ESCM_GPIO051",
			"ESCM_GPIO052", "ESCM_GPIO053", "ESCM_GPIO054", "ESCM_GPIO055",
			"ESCM_GPIO056", "ESCM_GPIO057", "ESCM_GPIO058", "ESCM_GPIO059",
			"ESCM_GPIO060", "ESCM_GPIO061", "ESCM_GPIO062", "ESCM_GPIO063",
			"ESCM_GPIO064", "ESCM_GPIO065", "ESCM_GPIO066", "ESCM_GPIO067",
			"ESCM_GPIO068", "ESCM_GPIO069", "ESCM_GPIO070", "ESCM_GPIO071",
			"ESCM_GPIO072", "ESCM_GPIO073", "ESCM_GPIO074", "ESCM_GPIO075",
			"ESCM_GPIO076", "ESCM_GPIO077", "ESCM_GPIO078", "ESCM_GPIO079",
			"ESCM_GPIO080", "ESCM_GPIO081", "ESCM_GPIO082", "ESCM_GPIO083",
			"ESCM_GPIO084", "ESCM_GPIO085", "ESCM_GPIO086", "ESCM_GPIO087",
			"ESCM_GPIO088", "ESCM_GPIO089", "ESCM_GPIO090", "ESCM_GPIO091",
			"ESCM_GPIO092", "ESCM_GPIO093", "ESCM_GPIO094", "ESCM_GPIO095",
			"ESCM_GPIO096", "ESCM_GPIO097", "ESCM_GPIO098", "ESCM_GPIO099",
			"ESCM_GPIO100", "ESCM_GPIO101", "ESCM_GPIO102", "ESCM_GPIO103",
			"ESCM_GPIO104", "ESCM_GPIO105", "ESCM_GPIO106", "ESCM_GPIO107",
			"ESCM_GPIO108", "ESCM_GPIO109", "ESCM_GPIO110", "ESCM_GPIO111",
			"ESCM_GPIO112", "ESCM_GPIO113", "ESCM_GPIO114", "ESCM_GPIO115",
			"ESCM_GPIO116", "ESCM_GPIO117", "ESCM_GPIO118", "ESCM_GPIO119",
			"ESCM_GPIO120", "ESCM_GPIO121", "ESCM_GPIO122", "ESCM_GPIO123",
			"ESCM_GPIO124", "ESCM_GPIO125", "ESCM_GPIO126", "ESCM_GPIO127",
			"ESCM_GPIO128", "ESCM_GPIO129", "ESCM_GPIO130", "ESCM_GPIO131";
			status = "okay";
		};

		rts591x-i2c10 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x40251200>;
			id = <10>;
			interrupts = <RTS591X_IOMATRIX_IRQ_I2C10>;
			status = "okay";
		};

		rts591x-i2c11 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x40251400>;
			id = <11>;
			interrupts = <RTS591X_IOMATRIX_IRQ_I2C11>;
			status = "okay";
		};

		rts591x-i2c1 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x40250000>;
			id = <1>;
			interrupts = <RTS591X_IOMATRIX_IRQ_I2C1>;
			status = "okay";
		};

		rts591x-i2c2 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x40250200>;
			id = <2>;
			interrupts = <RTS591X_IOMATRIX_IRQ_I2C2>;
			status = "okay";
		};

		rts591x-i2c6 {
			compatible = "realtek,rts591x-i2c";
			reg = <0x40250A00>;
			id = <6>;
			interrupts = <RTS591X_IOMATRIX_IRQ_I2C6>;
			status = "okay";
		};

		rts591x_adc_escm: rts591x-adc-escm {
			compatible = "realtek,rts591x-adc";
			reg = <0x40251900>;
			linear-Calibration;
			mode = "repeat";
			status = "disabled";
			#io-channel-cells = <1>;

			channel@0{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@1{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@2{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@3{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@4{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@5{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@6{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@7{
				channel-en = "disabled";
				low-pass-filter;
			};
		};

		rts591x-kcs-bmc {
			compatible = "realtek,rts591x-kcs-bmc";
			reg = <0x40221700>;
			interrupts = <RTS591X_IOMATRIX_IRQ_KCS_IBF>;
			kcs_chan = <1>;
			realtek,io-reg = <0xCA2 0xCA3>;
		};

		rts591x-espi-snoop {
			compatible = "realtek,rts591x-espi-snoop";
			reg = <0x40221200>;
			interrupts = <RTS591X_IOMATRIX_IRQ_PORT80>;
			snoop-channel = <0>;
		};
	};

	rts493xa-mfd@31 {
		compatible = "realtek,rts591x-mfd-i2c-hpm";
		reg = <0x31>;
		status = "disabled";

		mfd-gpios = <&pinctrl 36 GPIO_ACTIVE_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;

		iomatrix-uapi {
			compatible = "realtek,iomatrix-uapi";
		};

		gpio_hpm: gpio {
			compatible = "realtek,rts591x-gpio";
			reg = <0x40090000>;
			status = "okay";
			#gpio-cells = <2>;

			gpio-line-names =
			"HPM_GPIO000", "HPM_GPIO001", "HPM_GPIO002", "HPM_GPIO003",
			"HPM_GPIO004", "HPM_GPIO005", "HPM_GPIO006", "HPM_GPIO007",
			"HPM_GPIO008", "HPM_GPIO009", "HPM_GPIO010", "HPM_GPIO011",
			"HPM_GPIO012", "HPM_GPIO013", "HPM_GPIO014", "HPM_GPIO015",
			"HPM_GPIO016", "HPM_GPIO017", "HPM_GPIO018", "HPM_GPIO019",
			"HPM_GPIO020", "HPM_GPIO021", "HPM_GPIO022", "HPM_GPIO023",
			"HPM_GPIO024", "HPM_GPIO025", "HPM_GPIO026", "HPM_GPIO027",
			"HPM_GPIO028", "HPM_GPIO029", "HPM_GPIO030", "HPM_GPIO031",
			"HPM_GPIO032", "HPM_GPIO033", "HPM_GPIO034", "HPM_GPIO035",
			"HPM_GPIO036", "HPM_GPIO037", "HPM_GPIO038", "HPM_GPIO039",
			"HPM_GPIO040", "HPM_GPIO041", "HPM_GPIO042", "HPM_GPIO043",
			"HPM_GPIO044", "HPM_GPIO045", "HPM_GPIO046", "HPM_GPIO047",
			"HPM_GPIO048", "HPM_GPIO049", "HPM_GPIO050", "HPM_GPIO051",
			"HPM_GPIO052", "HPM_GPIO053", "HPM_GPIO054", "HPM_GPIO055",
			"HPM_GPIO056", "HPM_GPIO057", "HPM_GPIO058", "HPM_GPIO059",
			"HPM_GPIO060", "HPM_GPIO061", "HPM_GPIO062", "HPM_GPIO063",
			"HPM_GPIO064", "HPM_GPIO065", "HPM_GPIO066", "HPM_GPIO067",
			"HPM_GPIO068", "HPM_GPIO069", "HPM_GPIO070", "HPM_GPIO071",
			"HPM_GPIO072", "HPM_GPIO073", "HPM_GPIO074", "HPM_GPIO075",
			"HPM_GPIO076", "HPM_GPIO077", "HPM_GPIO078", "HPM_GPIO079",
			"HPM_GPIO080", "HPM_GPIO081", "HPM_GPIO082", "HPM_GPIO083",
			"HPM_GPIO084", "HPM_GPIO085", "HPM_GPIO086", "HPM_GPIO087",
			"HPM_GPIO088", "HPM_GPIO089", "HPM_GPIO090", "HPM_GPIO091",
			"HPM_GPIO092", "HPM_GPIO093", "HPM_GPIO094", "HPM_GPIO095",
			"HPM_GPIO096", "HPM_GPIO097", "HPM_GPIO098", "HPM_GPIO099",
			"HPM_GPIO100", "HPM_GPIO101", "HPM_GPIO102", "HPM_GPIO103",
			"HPM_GPIO104", "HPM_GPIO105", "HPM_GPIO106", "HPM_GPIO107",
			"HPM_GPIO108", "HPM_GPIO109", "HPM_GPIO110", "HPM_GPIO111",
			"HPM_GPIO112", "HPM_GPIO113", "HPM_GPIO114", "HPM_GPIO115",
			"HPM_GPIO116", "HPM_GPIO117", "HPM_GPIO118", "HPM_GPIO119",
			"HPM_GPIO120", "HPM_GPIO121", "HPM_GPIO122", "HPM_GPIO123",
			"HPM_GPIO124", "HPM_GPIO125", "HPM_GPIO126", "HPM_GPIO127",
			"HPM_GPIO128", "HPM_GPIO129", "HPM_GPIO130", "HPM_GPIO131";
		};

		rts591x_adc_hpm: adc-hpm {
			compatible = "realtek,rts591x-adc";
			reg = <0x4000FE00>;
			linear-Calibration;
			mode = "repeat";
			status = "okay";
			#io-channel-cells = <1>;

			channel@0{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@1{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@2{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@3{
				channel-en = "enabled";
				low-pass-filter;
			};

			channel@4{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@5{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@6{
				channel-en = "disabled";
				low-pass-filter;
			};

			channel@7{
				channel-en = "disabled";
				low-pass-filter;
			};
		};

		rts591x_pwm_hpm: rts591x_pwm_fan_hpm {
			compatible = "realtek,rts591x-pwm-tacho";
			reg = <0x4000f000>;
			clock-source= <0>; /*clock source selection*/
			status = "okay";
			#pwm-cells = <3>;

			fans {
				reg = <0x4000fd00>;
				edge-selection = <0>;

				rts591x-fan@0 {
					reg = <0x00>;
					fan-tach-ch = /bits/ 8 <0x00>;
				};

				rts591x-fan@1 {
					reg = <0x01>;
					fan-tach-ch = /bits/ 8 <0x01>;
				};

				// rts591x-fan@2 {
				// 	reg = <0x02>;
				// 	fan-tach-ch = /bits/ 8 <0x02>;
				// };

				// rts591x-fan@3 {
				// 	reg = <0x03>;
				// 	fan-tach-ch = /bits/ 8 <0x03>;
				// };
			};

		};
	};

	rts490xa-hub@70 {
		compatible = "realtek,rts490xa-hub";
		reg = <0x70>;

		cp0-ldo-en = "enabled";
		cp1-ldo-en = "enabled";
		cp0-ldo-volt = "1.8V";
		cp1-ldo-volt = "1.8V";
		tp0145-ldo-en = "enabled";
		tp2367-ldo-en = "enabled";
		tp0145-ldo-volt = "1.8V";
		tp2367-ldo-volt = "1.8V";
		tp0145-pullup = "500R";
		tp2367-pullup = "500R";
		tp0145-io-strength = "30Ohms";
		tp2367-io-strength = "30Ohms";
		cp0-io-strength = "20Ohms";
		cp1-io-strength = "20Ohms";

		target-port@0 {
			mode = "smbus";
			pullup = "enabled";
			mctp-controller;
			backend@0,0 {
				compatible = "mctp-i2c-controller";
				target-reg = <0x10>;
			};
		};

		target-port@1 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};

		target-port@4 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};

		target-port@5 {
			mode = "smbus";
			pullup = "enabled";
			backend@0,0 {
				compatible = "slave-mqueue";
				target-reg = <0x10>;
			};
		};
	};
};

&pinctrl {
	gpio-line-names =
	"", "", "", "", "", "", "", "", // 0~7
	"PGOOD", "",  // 8,9
	"CHASSIS_INTRUSION",                    // 10
	"", "", "", "", "", "", "", "", "", "",  // 11~20
	"", "", "", "", "", "", "", "", "", "",  // 21~30
	"", "", "", "", "", "", "", "", "", "",  // 31~40
	"", "", "", "", "", "", "", "", "", "",  // 41~50
	"", "", "", "", "", "", "", "", "", "",  // 51~60
	"", "", "", "", "", "", "", "", "", "",  // 61~70
	"", "", "", "", "", "", "", "", "", "",  // 71~80
	"", "", "", "", "", "", "", "", "";      // 81~88
};

&i2c1 {
	status = "okay";

	ssif-bmc@10 {
		compatible = "ssif-bmc";
		reg = <0x40000010>;
	};
};
